.App {
  /* text-align: center; */
  display: flex;
}

.left-pane{
  border: 2px solid black;
  height: 300px;
  width: 200%;
  margin: 2em;
}

.ingredient {
  height: 20px;
  width: 150px;
  margin: 0.25em;
}
.bun {
  background-color: goldenrod;
}
.lettuce {
  background-color: olivedrab;
}